.places {
  width: 77.11%;
  margin-top: 92px;
  margin-left: auto;
  margin-right: auto;
}

.place {
  width: 100%;
  display: flex;
}

.place_margin-top {
  margin-top: 80px;
}

.place_margin-top_muramvya {
  margin-top: 80px;
}

.place__column {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.place__column_align_left {
  justify-content: flex-start;
}

.place__title {
  width: 93.5%;
  font-size: 72px;
  font-weight: 900;
  line-height: 1.06;
}

.place__title_cricieth {
  margin-top: 0;
}

/* .place__title_berea {
  margin-top: 0;
} */

.place__title_muramvya {
  margin-top: 0;
}

.place__title_cdmx {
  margin-top: 0;
}

.place__image {
  width: 93.5%;
  margin-top: 48px;
  box-shadow: 10px 10px 25px #000000;
}

.place__image:hover {
  filter: brightness(0.5);
}

.place__frame-compra {
  margin-top: 48px;
  width: 62%;
  padding: 13px 20px;
  background: linear-gradient(to right, #0278fe 0%, #003a7b 100%);
  box-shadow: 5px 5px 10px #000000;
  border-radius: 4px;
}

.place__frame-compra:hover {
  background: linear-gradient(
    to right,
    rgba(2, 120, 254, 0.25) 0%,
    rgba(0, 58, 123, 0.25) 100%
  );
}

.place__text-compra {
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  color: white;
  text-decoration: none;
}

.place__website {
  width: 92.7%;
  margin-top: 85px;
  margin-bottom: 48px;
}

.place__website_margin-top {
  margin-top: calc(85px + 22px);
}

.place__url-heading {
  width: 18.6%;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.place__artist-top {
  width: 72.37%;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.22;
}

.place__artist-bottom {
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.22;
}

.place__text {
  width: 98.4%;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.63;
}

.place__text_margin-bottom {
  margin-bottom: 25px;
}
